@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&family=Special+Gothic+Expanded+One&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-footer-text: rgb(145, 145, 145);
}

h1, h2 {
  font-family: 'Special Gothic Expanded One', sans-serif;
}

h2 {
  font-size: 1.5rem;
}

h3, button, a {
  font-family: 'Special Gothic', sans-serif;
}

h3 {
  color: rgb(145, 145, 145);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 2rem 0;
}